<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sua Tu</title>
</head>
<body>
    <form action="/sua/<%= kq._id %>" method="post">
        <input type ="text" name ="en" placeholder="EN" value="<%= kq.en %>">
        <br>
        <input type ="text" name ="vn" placeholder="VN" value="<%= kq.vn %>">
        <br>
        <button>Sua</button>
</body>
</html>